@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MouseMemoirs";
  src: url("../public/MouseMemoirs-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

  .footer-link {
    @apply cursor-pointer underline;
  }

  .heading-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #243041;
    background: linear-gradient(180deg, #67b6ff 16.42%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
